body {
  font-family:Roboto,Oxygen,Ubuntu;
  text-align:center;
  font-size:150%;
 /* background-color: #ccddff; */
/*  background-image:url("Res/body.png"); */
  background-color:#124060;
  width:auto;
  height:auto;
  background-size:100%;
  background-repeat:no-repeat;
}

@font-face {
    font-family:DaddySpace;
    src:url(Res/Daddyinspace.otf);
}

.title {
	font-size:200%;
}

p {
	display:inline;
	font-weight:bold;
	color:#FFBD05;
}

.cert {
/*	font-family:DaddySpace;*/
	font-size:30px;
	color:#92C4D8;
}
.score {
	margin-left:0%;
	text-align: left;
	font-size:90%;
}

.timer {
	text-align: right;	
	font-size:90%;
}

.calc {
	font-size:300%;
}

button{
	width:100px;
	height:100px;
	margin-bottom:1%;
	margin-right:0.5%;
	font-size:60px;
}

input {
  font-size: 100%;
  text-align:center;
  padding: 5px 7px;
}

canvas {
  background-color: white;
  border-radius: 20px;
  -moz-box-shadow: 3px 3px 5px 6px black;
}


